<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/products/add" method="post">
    <span>Name:</span>
    <span><input type="text" name="name"/></span>
    <span><button type="submit"/>ADD</button></span>

<!--    숨겨진 입력으로 CSRF 토큰을 요청에 추가 -->
<!--    th 접두사를 통해 타임리프를 이용해 토큰 값 출력-->
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>
</form>
</body>
</html>